{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
</head>
  <body>

{% block content %}
<div class="well">

        {% if message %}
        <div class="alert alert-{{message_type}}">
            <strong>{{message}}</strong>
        </div>
        {% endif %}
        <h2>Lineitems of this Customer PO - {{rfp_no}} 
          <button class="btn btn-success" data-toggle="modal" data-target="#ADDNew">ADD New Lineitem &nbsp;<span class="glyphicon glyphicon-plus"></span></button>
        </h2> 

        <br>
        <label>Total Basic Value : {{cpo.total_basic_value}}</label>
        <br>
        <label>Total Value : {{cpo.total_value}}</label>
        <hr>
        <label><a href="/order_tracker/pending_customer_order_list/{{cpo.id}}/change_customer/customer_selection/">Change Selected Customer</a> : : {{cpo.customer.name}} / {{cpo.customer.location}} / {{cpo.customer.code}}</label>
        <br>
        <label><a href="/order_tracker/pending_customer_order_list/{{cpo.id}}/change_contact_person/contact_person_selection/">Change Contact Person</a> : : {{cpo.customer_contact_person.name}}</label>
        <br>
        <!--New Product Modal -->
    <div class="modal fade" id="ADDNew" role="dialog">
           <div class="modal-dialog">
           
             <!-- Modal content-->
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Fill the Product Details</h4>
               </div>
               <div class="modal-body">
                 <form type="submit" id="customer-form" method="POST" action="/order_tracker/pending_customer_order_list/{{cpo.id}}/add_new_lineitem/">
                   {% csrf_token %}
                   <div class="form-group">
                    <label class="form-input" for="product_title">Product Title <a style="color: red">*</a></label>
                    <input type="text" class="form-control" id="product_title" name="product_title" required>

                    <label class="form-input" for="description">Product Description <a style="color: red">*</a></label>
                    <textarea type="text" class="form-control" id="description" name="description" required></textarea>

                    <label class="form-input" for="model">Model </label>
                    <input type="text" class="form-control" id="model" name="model">

                    <label class="form-input" for="brand">Brand</label>
                    <input type="text" class="form-control" id="brand" name="brand">

                    <label class="form-input" for="product_code">Product Code (Manufacturer Part No)</label>
                    <input type="text" class="form-control" id="product_code" name="product_code">

                    <label class="form-input" for="part_no">Customer Part No</label>
                    <input type="text" class="form-control" id="part_no" name="part_no">

                    <label class="form-input" for="pack_size">Pack Size </label>
                    <input type="text" class="form-control" id="pack_size" name="pack_size">

                    <label class="form-input" for="hsn_code">HSN Code</label>
                    <input type="text" class="form-control" id="hsn_code" name="hsn_code">

                    <label class="form-input" for="gst">GST %</label>
                    <input type="number" class="form-control" id="gst" step="0.01" name="gst">

                    <label class="form-input" for="uom">UOM <a style="color: red">*</a></label>
                    <input type="text" class="form-control" id="uom" name="uom" required>

                    <label class="form-input" for="quantity">Quantity <a style="color: red">*</a></label>
                    <input type="number" class="form-control" step="0.01" id="quantity" name="quantity" required>

                    <label class="form-input" for="unit_price">Unit Price(In INR)<a style="color: red">*</a> </label>
                    <input type="number" class="form-control" id="unit_price" step="0.01" name="unit_price" required>  <br>                     

                   </div>
               </div>
               <div class="modal-footer">
                   <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                       <input type="submit" class="btn btn-success" value="Confirm">
                 </form>
               </div>
             </div>
             
           </div>
    </div>
      <!--End of New Product Model-->
       

       <div class="table-responsive">         
               <table id="product" class="table table-hover table-bordered table-sm" width="100%">
                 <thead>
                   <tr>
                     <th></th>
                     <th>Sl No</th>
                     <th>Product Title</th>
                     <th>Description</th>
                     <th>Model</th>
                     <th>Brand</th>
                     <th>Product Code</th>
                     <th>Part no</th>
                     <th>Pack Size</th>
                     <th>HSN Code</th>
                     
                     <th>UOM</th>
                     <th>Quantity</th>
                     <th>Unit Price</th>
                     <th>Total Basic Value</th>
                     <th>GST %</th>
                     <th>Including GST Value</th>
                   </tr>
                 </thead>
                 <tbody>
                        
                     {% for item in cpo_lineitem %}
                       <tr>
                          <td>
                            <a href="/order_tracker/pending_customer_order_list/{{cpo.id}}/{{item.id}}/edit/" data-toggle="tooltip" data-placement="top" title="Edit"> <span class="glyphicon glyphicon-pencil" style="color: orange"></span></a>
                           </td>
                           <td>{{forloop.counter}}</td>
                           <td>{{item.product_title}}</td>
                           <td>{{item.description}}</td>
                           <td>{{item.model}}</td>
                           <td>{{item.brand}}</td>
                           <td>{{item.product_code}}</td>
                           <td>{{item.part_no}}</td>      
                           <td>{{item.pack_size}}</td>
                           <td>{{item.hsn_code}}</td>
                           
                           <td>{{item.uom}}</td>
                           <td>{{item.quantity}}</td>
                           <td>{{item.unit_price}}</td>

                           <td>{{item.total_basic_price}}</td>
                           <td>{{item.gst}}</td>
                           <td>{{item.total_price}}</td>
                       </tr>
                     {% empty %}
                       <p>No Lineitem Found</p>
                     {% endfor %}
                 </tbody>
               </table>
       </div><br>

       <div class="row">
        <div class="text-center">
          <button type="button" class="btn btn-info pull-right" id="btnGenerate" onclick="LineitemsCheck()">Continue To Save</button>
      </div>
       </div>

       <div class="row">

       </div>

       <div class="modal fade" id="generate" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
             <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Fill the PO Details</span></h4>
            </div>
            <div class="modal-body">
              <form type="submit" id="customer-form"  enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="form-group">

                        <label class="form-input" for="customer_po_no">Customer PO Number <a style="color: red">*</a></label>
                        <input type="text" class="form-control" id="customer_po_no" name="customer_po_no" required value="{{cpo.customer_po_no}}">

                        <label class="form-input" for="customer_po_date">Customer PO Date <a style="color: red">* :  {{cpo.customer_po_date}}</a></label>
                        <input type="date" class="form-control" id="customer_po_date" name="customer_po_date">

                        <label class="form-input" for="billing_address">Billing Address<a style="color: red">*</a></label>
                        <textarea type="text" class="form-control" id="billing_address" name="billing_address" required>{{cpo.billing_address}}</textarea>

                        <label class="form-input" for="shipping_address">Shipping Address<a style="color: red">*</a></label>
                        <textarea type="text" class="form-control" id="shipping_address" name="shipping_address" required>{{cpo.shipping_address}}</textarea>
                        
                        <label class="form-input" for="delivery_date">Delivery Date <a style="color: red">* :  {{cpo.delivery_date}}</a></label>
                        <input type="date" class="form-control" id="delivery_date" name="delivery_date">

                        <label class="form-input" for="inco_terms">Inco Terms <a style="color: red">*</a></label>
                        <input type="text" class="form-control" id="inco_terms" name="inco_terms" required value="{{cpo.inco_terms}}">

                        <label class="form-input" for="payment_terms">Payment Terms (In Days) <a style="color: red">*</a></label>
                        <input type="number" class="form-control" id="payment_terms" name="payment_terms" required value="{{cpo.payment_terms}}">

                        <label class="form-input" for="priority">Please Select the type of the Order<a style="color: red">*</a></label>
                        <select class="form-control" id="po_type" name="po_type" required>
                            <option>{{cpo.po_type}}</option>
                            <option>PSP</option>
                            <option>Non PSP</option>
                          </select>


                        <label class="form-input" for="supporting_document1">Supporting Document 1 </label>
                        {% ifnotequal cpo.document1 "" %}
                        <a href="/api/media/{{cpo.document1}}" target="-blank">Attached Document 1</a>
                        {% endifnotequal %}
                        <input type="file" id="supporting_document1" name="supporting_document1">

                        <label class="form-input" for="supporting_document2">Supporting Document 2 </label>
                        {% ifnotequal cpo.document2 "" %}
                        <a href="/api/media/{{cpo.document2}}" target="-blank">Attached Document 2</a>
                        {% endifnotequal %}
                        <input type="file" id="supporting_document2" name="supporting_document2">

                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Confirm">
              </form>
            </div>
          </div>
          
        </div>
       </div>
     

   </div>
   <script type="text/javascript">
    function LineitemsCheck(){
      var totalRowCount = 0;
        var rowCount = 0;
        var table = document.getElementById("product");
        var rows = table.getElementsByTagName("tr")
        for (var i = 0; i < rows.length; i++) {
            totalRowCount++;
            if (rows[i].getElementsByTagName("td").length > 0) {
                rowCount++;
            }
        }
        if(rowCount == 0){
          alert("No Lineitems found, please add some lineitems")
        }
        else{
          $('#generate').modal('toggle');
        }
    }
    </script>     

{% endblock content %}
</body>
</html>