{% extends '../base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>Vendor PO Approval List</h2>
            <div class="table-responsive">          
                    <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Vendor Name</th>
                          <th>Location</th>
                          <th>PO No</th>
                          <th>PO Type</th>
                          <th>PO Date</th>
                          <th>Requester</th>
                          <th>PO For</th>
                        </tr>
                      </thead>
                      <tbody>   
                          {% for item in vpo %}
                            <tr>
                               <td>
                                   <a href="/api/po_to_vendor/vendor_po/pending_approval/{{item.po_number}}/lineitems/" data-toggle="tooltip" data-placement="top" title="Select this contact person"> <span class="glyphicon glyphicon-forward" style="color: blue"></span></a>
                                </td>
                                <td>{{item.vpo.vendor.name}}</td>
                                <td>{{item.vpo.vendor.location}}</td>
                                <td>{{item.po_number}}</td>
                                <td>{{item.vpo_type}}</td>
                                <td>{{item.po_date}}</td>
                                <td>{{item.requester.first_name}}&nbsp;{{item.requester.last_name}}</td>
                                <td>{{item.vpo.cpo.customer.name}}</td>
                            </tr>
                          {% empty %}
                            <p>No Vendor PO Found</p>
                          {% endfor %}
                      </tbody>
                    </table>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready( function () {
                $('#dcustomer').DataTable();
            } );
            </script>     
{% endblock content %}