{% extends '../base.html' %}
{% load static %}

{% block content %}
    <div class="">
        <h2>Vendor PO List</h2>
            <div class="table-responsive">          
                    <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th>Vendor Name</th>
                          <th>Location</th>
                          <th>PO No</th>
                          <th>PO Date</th>
                          <th>PO For</th>
                          <th>Basic Amount</th>
                          <th>Total Basic Amount</th>
                          <th>All Total Amount</th>
                          <th>PO Type</th>
                          <th>Delivery Date</th>
                          <th>Order Status</th>
                          <th>Payment Status</th>
                          <th>Buyer</th>
                          <th>Payment Term</th>
                        </tr>
                      </thead>
                      <tbody>   
                          {% for item in vpo_list %}
                            <tr>
                                <td>
                                   <a href="/api/po_to_vendor/approved_vendor_po/{{item.po_number}}/lineitems/" data-toggle="tooltip" data-placement="top" title="Select this contact person"> <span class="glyphicon glyphicon-forward" style="color: blue"></span></a>
                                </td>
                                <td>{{forloop.counter}}</td>
                                <td>{{item.vpo.vendor.name}}</td>
                                <td>{{item.vpo.vendor.location}}</td>
                                <td>{{item.po_number}}</td>
                                <td>{{item.po_date}}</td>
                                <td>{{item.vpo.cpo.customer.name}}</td>
                                <td>{{item.basic_value}}</td>
                                <td>{{item.total_value}}</td>
                                <td>{{item.all_total_value}}</td>
                                <td>{{item.vpo_type}}</td>
                                <td>{{item.vpo.delivery_date}}</td>
                                <td>{{item.order_status}}</td>
                                <td>{{item.remarks}}</td>
                                <td>{{item.vpo.requester.first_name}}&nbsp;{{item.vpo.requester.last_name}}</td>
                                <td>{{item.vpo.terms_of_payment}}</td>
                            </tr>
                          {% empty %}
                            <p>No Vendor PO Found</p>
                          {% endfor %}
                      </tbody>
                    </table>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready( function () {
                $('#dcustomer').DataTable();
            } );
            </script>     
{% endblock content %}