{% extends 'Accounts/base.html' %}
{% load static %}
{% block content %}
<div class="">

        {% if message %}
        <div class="alert alert-{{message_type}}">
            <strong>{{message}}</strong>
        </div>
        {% endif %}
        <p align="middle"><label>GRN Details</label></p>
        <hr>
        <label>Received Product From :: {{vendor_name}} // Location :: {{vendor_location}}</label>
        <h2>Lineitems For GRN No : {{grn_no}} &nbsp; / {{grn_date}}</h2>      
       <div class="table-responsive">          
               <table id="product" class="table table-hover table-bordered table-sm" width="100%">
                 <thead>
                   <tr>
                     <th>Sl No</th>
                     <th>Product Title</th>
                     <th>Description</th>
                     <th>Model</th>
                     <th>Brand</th>
                     <th>Product Code</th>
                     <th>HSN Code</th>
                     <th>UOM</th>
                     <th>Quantity</th>                    
                   </tr>
                 </thead>
                 <tbody>
                        
                     {% for item in grn_lineitem %}
                       <tr>
                           <td>{{forloop.counter}}</td>
                           <td>{{item.product_title}}</td>
                           <td>{{item.description}}</td>
                           <td>{{item.model}}</td>
                           <td>{{item.brand}}</td>
                           <td>{{item.product_code}}</td> 
                           <td>{{item.hsn_code}}</td>
                           <td>{{item.uom}}</td>
                           <td>{{item.quantity}}</td>
                       </tr>
                     {% empty %}
                       <p>No Lineitem Found</p>
                     {% endfor %}
                 </tbody>
               </table>
       </div><br>
       <div class="container">
          <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#DeleteGRN">Delete This GRN &nbsp;<span class="glyphicon glyphicon-remove"></span></button>
       </div>
</div> 




<!--Process Further Model -->
<div class="modal fade" id="DeleteGRN" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Warning  <span class="glyphicon glyphicon-fire"></span></h4>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this GRN?</p>
      </div>
      <div class="modal-footer">
        <form method="POST" action="/grnir/all_inwards/grn/{{grn_no}}/delete/">
          {% csrf_token %}
          <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel">
          <input type="submit" class="btn btn-success" value="Continue">
        </form>
      </div>
    </div>
  </div>
</div>
<!--End of Process Further Model-->




{% endblock content %}