{% extends 'Sales/base.html' %}
{% load static %}

{% block content %}
<div class="container">
<div class="row justify-content-center">
    
    
        <!--Form with header-->

            <div class="card border-primary rounded-0">
                <div class="card-header p-0">
                    <div class="bg-info text-white text-center py-2">
                        <h3>Please select the columns which you want to display in quotation</h3>
                    </div>
                </div>
            <div class="card-body p-3">
       
                <form method="POST">
                    {% csrf_token %} 
                    <input type="checkbox" name="gst_price"> Including GST Price<br>
                    <input type="checkbox" name="image"> Image<br>
                    <hr>                          
                    <input type="checkbox" name="total_basic"> Total Basic Amount<br>
                    <input type="checkbox" name="total_basic_with_gst"> Total Basic Amount with GST<br>

                    {% if rfp_type == "PSP" %}

                    <input type="checkbox" name="display_breakup"> Display Price Breakup<br>

                    {% endif %}
                    <br>                                     
                    <div class="text-center">
                        <input type="submit" value="Generate Quotation in PDF Format" class="btn btn-info btn-block rounded-0 py-2">
                    </div>
                </form>
            </div><br>        
</div>
</div>
{% endblock %}