{% extends '../base.html' %}
{% load static %}
{% block content %}


<div class="container">

        {% if message %}
        <div class="alert alert-{{message_type}}">
            <strong>{{message}}</strong>
        </div>
        {% endif %}

        <div class="row justify-content-center">
    
    
                        <!--Form with header-->
    
                        <form method="POST">
                            {% csrf_token %}
                            <div class="card border-primary rounded-0">
                                <div class="card-header p-0">
                                    <div class="bg-info text-white text-center py-2">
                                        <h3>Edit Lineitem</h3>
                                    </div>
                                </div>
                                <div class="card-body p-3">
    
                           <label class="form-input" for="product_title">Product Title <a style="color: red">*</a></label>
                           <input type="text" class="form-control" id="product_title" name="product_title" required value="{{quotation_lineitem.product_title}}">

                           <label class="form-input" for="description">Product Description <a style="color: red">*</a></label>
                           <textarea type="text" class="form-control" id="description" name="description" required>{{quotation_lineitem.description}}</textarea>
   
                           <label class="form-input" for="model">Model </label>
                           <input type="text" class="form-control" id="model" name="model" value="{{quotation_lineitem.model}}">
   
                           <label class="form-input" for="brand">Brand</label>
                           <input type="text" class="form-control" id="brand" name="brand" value="{{quotation_lineitem.brand}}">

                           <label class="form-input" for="product_code">Product Code (Manufacturer Part No)</label>
                           <input type="text" class="form-control" id="product_code" name="product_code" value="{{quotation_lineitem.product_code}}">

                           <label class="form-input" for="part_number">Customer Part No</label>
                           <input type="text" class="form-control" id="part_number" name="part_number" value="{{quotation_lineitem.part_no}}">

                           <label class="form-input" for="pack_size">Pack Size</label>
                           <input type="text" class="form-control" id="pack_size" name="pack_size" value="{{quotation_lineitem.pack_size}}">

                           <label class="form-input" for="moq">MOQ</label>
                           <input type="text" class="form-control" id="moq" name="moq" value="{{quotation_lineitem.moq}}">
   
                           <label class="form-input" for="hsn_code">HSN Code</label>
                           <input type="text" class="form-control" id="hsn_code" name="hsn_code" value="{{quotation_lineitem.hsn_code}}">

                           <label class="form-input" for="gst">GST %</label>
                           <input type="number" step=0.01 class="form-control" id="gst" step="0.01" name="gst" value={{quotation_lineitem.gst}}>

                           <label class="form-input" for="quantity">Quantity <a style="color: red">*</a></label>
                           <input type="number" class="form-control" step="0.01" id="quantity" name="quantity" required value={{quotation_lineitem.quantity}}>

                           <label class="form-input" for="uom">UOM <a style="color: red">*</a></label>
                           <input type="text" class="form-control" id="uom" name="uom" required value="{{quotation_lineitem.uom}}" required>

                           <label class="form-input" for="unit_price">Unit Price </label>
                           <input type="number" step="0.01" class="form-control" id="unit_price" name="unit_price" value={{quotation_lineitem.unit_price}} required>

                           <label class="form-input" for="margin">Margin </label>
                           <input type="number" step="0.000001" class="form-control" id="margin" name="margin" value={{quotation_lineitem.margin}} required>
                           
                           <label class="form-input" for="lead_time">Lead Time </label>
                           <input type="text" class="form-control" id="lead_time" name="lead_time" value="{{quotation_lineitem.lead_time}}" required>

                           <br>    
                                    
    
                            <div class="text-center">
                                <input type="submit" value="Save Changes" class="btn btn-info btn-block rounded-0 py-2">
                            </div>
                            </div><br>
    
                            </div>
                        </form>
                        <!--Form with header-->
        </div>
</div>

{% endblock content %}