{% extends '../base.html' %}
{% load static %}
{% block content %}


<div class="container">

        {% if message %}
        <div class="alert alert-{{message_type}}">
            <strong>{{message}}</strong>
        </div>
        {% endif %}
        <div class="container">
          <h2>Select a Customer <button class="btn btn-success" data-toggle="modal" data-target="#ADDNew">ADD New &nbsp;<span class="glyphicon glyphicon-plus"></span></button></h2> 
          
           <!-- Modal -->
       <div class="modal fade" id="ADDNew" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Fill the Customer Details</span></h4>
                  </div>
                  <div class="modal-body">
                    <form type="submit" id="customer-form" method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                              <label class="form-input" for="name">Customer Name <a style="color: red">*</a></label>
                              <input type="text" class="form-control" id="name" name="name" placeholder="Organization Name" required>
                              <label class="form-input" for="location">Location <a style="color: red">*</a></label>
                              <input type="text" class="form-control" id="location" name="location" placeholder="Branch" required> 
                              <label class="form-input" for="code">Code <a style="color: red">*</a></label>
                              <input type="text" class="form-control" id="code" name="code" placeholder="provide a unique identification code" required>
                              <label class="form-input" for="address">Address <a style="color: red"></a></label>
                              <textarea type="text" class="form-control" id="address" name="address"></textarea>
                              <label class="form-input" for="code">City <a style="color: red">*</a></label>
                              <input type="text" class="form-control" id="city" name="city" required>
                              <label class="form-input" for="state">State <a style="color: red">*</a></label>
                              <select class="form-control" id="state" name="state" required>
                                <option></option>
                                {% for state in StateList %}
                                  <option>{{state}}</option>
                                {% endfor %}
                              </select>
                              <label class="form-input" for="pin">Pin </label>
                              <input type="number" class="form-control" id="pin" name="pin">
      
                              <label class="form-input" for="country">Country </label>
                              <input type="text" class="form-control" id="country" name="country" value="India">
      
                              <label class="form-input" for="officeemail1">Office Email ID 1 </label>
                              <input type="email" class="form-control" id="offieemail1" name="officeemail1">
      
                              <label class="form-input" for="officeemail2">Office Email ID 2 </label>
                              <input type="email" class="form-control" id="offieemail2" name="officeemail2">
      
                              <label class="form-input" for="officephone1">Office Phone No 1 </label>
                              <input type="number" class="form-control" id="offiephone1" name="officephone1">
      
                              <label class="form-input" for="officephone2">Office Phone No 2 </label>
                              <input type="number" class="form-control" id="offiephone2" name="officephone2">
      
                              <label class="form-input" for="GSTNo">GST No </label>
                              <input type="text" class="form-control" id="GSTNo" name="GSTNo">
      
                              <label class="form-input" for="VendorCode">Vendor Code </label>
                              <input type="text" class="form-control" id="VendorCode" name="VendorCode">
      
                              <label class="form-input" for="PaymentTerm">Payment Term (in Days) <a style="color: red">*</a></label>
                              <input type="number" class="form-control" id="PaymentTerm" name="PaymentTerm" required>
      
                              <label class="form-input" for="IncoTerm">Inco Term </label>
                              <input type="text" class="form-control" id="IncoTerm" name="IncoTerm">
                      </div>
                  </div>
                  <div class="modal-footer">
                      <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                          <input type="submit" class="btn btn-success" value="Confirm">
                    </form>
                  </div>
                </div>
                
              </div>
            </div>
           
          <div class="table-responsive">          
                  <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Customer Code</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Code</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Office Email ID</th>
                      </tr>
                    </thead>
                    <tbody>   
                        {% for customer in CustomerList %}
                          <tr>
                              <td>
                                  <a href="/rfp/create/{{customer.id}}/" data-toggle="tooltip" data-placement="top" title="Select this customer"> <span class="glyphicon glyphicon-forward" style="color: blue"></span></a>
                              </td>
                              <td>{{customer.id}}</td>
                              <td>{{customer.name}}</td>
                              <td>{{customer.location}}</td>
                              <td>{{customer.code}}</td>
                              <td>{{customer.city}}</td>
                              <td>{{customer.state}}</td>
                              <td>{{customer.office_email1}}</td>

                          </tr>
                        {% empty %}
                          <p>No Customers Found</p>
                        {% endfor %}
                    </tbody>
                  </table>
          </div>
      </div>
      <script type="text/javascript">
          $(document).ready( function () {
              $('#dcustomer').DataTable();
          } );
          </script>
        

{% endblock content %}