{% extends 'Sourcing/base.html' %}
{% load static %}
{% block content %}


<div class="container">

        {% if message %}
        <div class="alert alert-{{message_type}}">
            <strong>{{message}}</strong>
        </div>
        {% endif %}

        <div class="row justify-content-center">
            <div class="col">
                <div class="card-header p-0">
                    <div class="bg-info text-white text-center py-2">
                        <label>Attach Supplier Quotation </label>
                    </div>
                </div>
              
              <button class="btn btn-success pull-right" data-toggle="modal" data-target="#AddQuotation">Add Supplier Quotation document / screenshot&nbsp;<span class="glyphicon glyphicon-plus"></span></button>
              <br>
              <hr>
    
    
    
              {% for attachment in sourcing_attachment %}
              
                {% ifnotequal attachment.attachment "" %}
                <label>Supporting Document <a href="/api/media/{{attachment.attachment}}" target="-blank">Click Here</a></label><br>
                {% endifnotequal %}
    
    
                {% ifnotequal attachment.quotation_link "" %}
                <label>Quotation Link <a href="{{attachment.quotation_link}}" target="-blank">{{attachment.quotation_link}}</a></label><br>
                {% endifnotequal %}
    
                <a class="btn btn-danger pull-right" href="{{attachment.id}}/delete/">Delete this document</a><br>
    
                <hr>
              {% empty %}
                <label>No Attachment Found</label>
              {% endfor %}
    
              <hr>
            </div>











        <!--Supplier Quotation Model Add -->
        <div class="modal fade" id="AddQuotation" role="dialog">
            <div class="modal-dialog">
  
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">-- Price Quotation Attachment --</h4>
                </div>
      
                <div class="modal-body">
                  <form method="POST" action="add_negotiated_quotation/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group"> 
                      <br>

                      <label class="form-input">Attachment (pdf,image or any screenshot) </label>
                      <input type="file" id="attachment" name="attachment">
                      <h1>OR</h1>
                      <label class="form-input">Link </label>
                      <input type="text" class="form-control" id="link" name="link">

                    </div>
                    <div class="modal-footer">
                      <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel">
                      <input type="submit" class="btn btn-success" value="Confirm">
                    </div>  
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--End of Supplier Quotation Model-->



























    
                        <!--Form with header-->
    
                        <form method="POST" autocomplete="off">
                            {% csrf_token %}
                            <div class="card border-primary rounded-0">
                            
                                <div class="card-body p-3">
                                    <div class="card-header p-0">
                                        <div class="bg-info text-white text-center py-2">
                                            <h1 style="text-align:center">Vendor Data</h1>
                                        </div>
                                    </div>
                                    
                                    
                                    <label>Vendor Name :: {{vendor_po.vendor.name}}</label><br>
                                    <label>Address :: {{vendor_po.vendor.address}}</label><br>
                                    <label>GST # :: {{vendor_po.vendor.gst_number}}</label><br>
                                    <a href="/api/po_to_vendor/vendor_po_prepare/{{cpo_id}}/vendor_product_segmentation/{{vpo_id}}/add_order_info/vendor_info_change/" class="btn btn-info pull-right"> Change Vendor Data </a>
                                    
                                    <br>
                                    <hr>
                                    <div class="card-header p-0">
                                        <div class="bg-info text-white text-center py-2">
                                            <h1 style="text-align:center">Vendor Contact Person</h1>
                                        </div>
                                    </div>
                                    <label>Contact Person :: {{vendor_po.vendor_contact_person.name}}</label><br>
                                    <label>Contact No :: {{vendor_po.vendor_contact_person.mobileNo1}}</label><br>
                                    <label>Email :: {{vendor_po.vendor_contact_person.email1}}</label><br>
                                    <a href="/api/po_to_vendor/vendor_po_prepare/{{cpo_id}}/vendor_product_segmentation/{{vpo_id}}/add_order_info/vendor_contact_person_edit/" class="btn btn-info pull-right"> Change Contact Person Data </a>

                                    <br>
                                    <hr>
                                    <div class="card-header p-0">
                                        <div class="bg-info text-white text-center py-2">
                                            <h1 style="text-align:center">Change Order Information</h1>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Shipping Address<a style="color:red"> *</a></label>
                                            <input type="text" class="form-control" id="shipping_address" name="shipping_address" required value="{{vendor_po.shipping_address}}">        
                                            <input type="button" class="btn btn-success pull-right" name="set_Value" id="set_Value" value="Change Shipping Address TO Customer Delivery Address" onclick="setValue()" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Offer Reference<a style="color:red"> *</a></label>
                                            <input type="text" class="form-control" id="offer_reference" name="offer_reference" required value="{{vendor_po.offer_reference}}">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Offer Date <a style="color:red"> *</a>:: {{vendor_po.offer_date}}</label>
                                            <input type="date" class="form-control" id="offer_date" name="offer_date">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Delivery Date <a style="color:red"> *</a>:: {{vendor_po.delivery_date}}</label>
                                            <input type="date" class="form-control" id="delivery_date" name="delivery_date">
                                        </div>
                                    </div>

                                    <br>
                                    <hr>
                                    <div class="card-header p-0">
                                        <div class="bg-info text-white text-center py-2">
                                            <h1 style="text-align:center">Material Receiver Information</h1>
                                        </div>
                                    </div>                                    
                                    
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Receiver Name <a style="color:red"> *</a></label>
                                            <input type="text" class="form-control" id="receiver_name" name="receiver_name" required value="{{vendor_po.receiver_name}}">
                                        </div>
                                        <div class="col-md-3">
                                            <label>Phone No 1 <a style="color:red"> *</a></label>
                                            <input type="text" class="form-control" id="receiver_phone1" name="receiver_phone1" required value="{{vendor_po.receiver_phone1}}">
                                        </div>
                                        <div class="col-md-3">
                                            <label>Phone No 2 </label>
                                            <input type="text" class="form-control" id="receiver_phone2" name="receiver_phone2" value="{{vendor_po.receiver_phone2}}">
                                        </div>
                                        <div class="col-md-3">
                                            <label>Department <a style="color:red"> *</a></label>
                                            <input type="text" class="form-control" id="receiver_dept" name="receiver_dept" required value="{{vendor_po.receiver_dept}}">
                                        </div>
                                        <a class="pull-right" href="cpo_contact_details/" target="-b">Find Customer Contact Person & Requester Details</a>
                                    </div>

                                    <br>
                                    <hr>
                                    <div class="card-header p-0">
                                        <div class="bg-info text-white text-center py-2">
                                            <h1 style="text-align:center">Terms and Conditions</h1>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Mode of Transport <a style="color:red"> *</a></label>
                                            <input type="text" class="form-control" id="mode_of_transport" name="mode_of_transport" required value="{{vendor_po.mode_of_transport}}">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Inco Terms <a style="color:red"> *</a></label>
                                            <input type="text" class="form-control" id="inco_terms" name="inco_terms" required value="{{vendor_po.inco_terms}}">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Installation <a style="color:red"> *</a></label>
                                            <input type="text" class="form-control" id="installation" name="installation" required value="{{vendor_po.installation}}">
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <label>Please Select Payment Terms <a style="color:red"> *</a></label>
                                            <select class="form-control" id="pterms" name="pterms" required>
                                                <option>{{vendor_po.payment_option.text}}</option>
                                                {% for item in pterms_list %}
                                                <option>{{item.text}}</option>
                                                {% endfor %}
                                            </select>
                                            
                                            <a href="payment_terms_history/" target="-b">Check Payment Terms History of this vendor</a>
                                            
                                        </div>
                                        <div class="col-md-4">
                                            <br>
                                            <a href="/api/po_to_vendor/{{cpo_id}}/{{vpo_id}}/add_new_vendor_payment_terms/" class="btn btn-info">Add New Payment Terms</a>
                                        </div>
                                    </div>

                                    <br>
                                    <hr>
                                    <div class="card-header p-0">
                                        <div class="bg-info text-white text-center py-2">
                                            <h1 style="text-align:center">Delivery Instructions</h1>
                                        </div>
                                    </div>

                                    
                                    <input type="text" class="form-control" id="di1" name="di1" required value="{{vendor_po.di1}}">
                                    <input type="text" class="form-control" id="di2" name="di2" required value="{{vendor_po.di2}}">
                                    <input type="text" class="form-control" id="di3" name="di3" required value="{{vendor_po.di3}}">
                                    <input type="text" class="form-control" id="di4" name="di4" required value="{{vendor_po.di4}}">
                                    <input type="text" class="form-control" id="di5" name="di5" required value="{{vendor_po.di5}}">
                                    <input type="text" class="form-control" id="di6" name="di6" required value="{{vendor_po.di6}}">
                                    <input type="text" class="form-control" id="di7" name="di7" required value="{{vendor_po.di7}}">
                                    <input type="text" class="form-control" id="di8" name="di8" value="{{vendor_po.di8}}">
                                    <input type="text" class="form-control" id="di9" name="di9" value="{{vendor_po.di9}}">
                                    <input type="text" class="form-control" id="di10" name="di10" value="{{vendor_po.di10}}">
    
                                    <div class="text-center">
                                        <input type="submit" value="Save Changes" class="btn btn-info btn-block rounded-0 py-2">
                                    </div>
                                </div><br>
    
                            </div>
                        </form>
                        <!--Form with header-->
        </div>
</div>


 <script type="text/javascript">
    function setValue() {
        document.getElementById('shipping_address').value = "{{cpo_shipping_address}}";
    }
     function AddPTerms() {
        $('body').append('<div id="requestOverlay" class="request-overlay"></div>'); /*Create overlay on demand*/
        
        $("#requestOverlay").show();
       }

       function MarkDirectBuyPO(checkboxName,vpo_id) {
        $('body').append('<div id="requestOverlay" class="request-overlay"></div>'); /*Create overlay on demand*/
        
        $("#requestOverlay").show();
         data = {
             'csrfmiddlewaretoken': '{{ csrf_token }}'
             }
             $.ajax({
               type: "POST",
               url: "/api/po_to_vendor/vendor_po_prepare/{{cpo_id}}/vendor_product_segmentation/{{vpo_id}}/mark_direct_buying/",
               data: data,
               success: function(data) {
                 window.alert(data.Message);
                 //window.alert(data.status);
                 if(data.status == 'completed')
                    redirect2();
                  else
                    redirect1();
               },
               failure: function(){
                 window.alert('Some Error Occurred, Please Try Again');
                 document.getElementById("btnAbsorve").disabled = false;
               }
           }
         );
       }
     
</script> 
<style>
    .request-overlay {
      z-index: 9999;
      position: fixed; /*Important to cover the screen in case of scolling content*/
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      text-align: center;
      background: rgba(200,200,200,0.5) url('/api/media/media/ldm.gif') no-repeat center; /*.gif file or just div with message etc. however you like*/
  }
</style>
{% endblock content %}