{% extends '../base.html' %}
{% load static %}
{% block content %}


<div class="container">

        <h2>Pending Delivery Items Of this Order    
        <div class="container">
        </div>
       <div class="table-responsive">          
               <table id="pending_items" class="table table-hover table-bordered table-sm" width="100%">
                 <thead>
                   <tr>
                     <th></th>
                     <th>SL No</th>
                     <th>Product Title</th>
                     <th>Description</th>
                     <th>Model</th>
                     <th>Brand</th>
                     <th>Product Code</th>
                     <th>Part No</th>
                     <th>Quantity</th>
                     <th>UOM</th>
                   </tr>
                 </thead>
                 <tbody>   
                     {% for item in pending_delivery %}
                       <tr>
                           <td>
                              <input type="checkbox" 
                              name="cpo_lineitem"
                              value="{{item.id}}"
                              change="getCheckedCheckboxesFor('cpo_lineitem')"
                              />
                           </td>
                           <td>{{forloop.counter}}</td>
                           <td>{{item.cpo_lineitem.product_title}}</td>
                           <td>{{item.cpo_lineitem.description}}</td>
                           <td>{{item.cpo_lineitem.model}}</td>
                           <td>{{item.cpo_lineitem.brand}}</td>
                           <td>{{item.cpo_lineitem.product_code}}</td>
                           <td>{{item.cpo_lineitem.part_number}}</td>
                           <td>{{item.pending_quantity}}</td>
                           <td>{{item.cpo_lineitem.uom}}</td>
                       </tr>
                     {% empty %}
                       <p>No End User Found</p>
                     {% endfor %}
                 </tbody>
               </table>
               <hr>
               <button class="btn btn-success pull-right" id='preceed' type="button" onclick="getCheckedCheckboxesFor('cpo_lineitem');" value="Get Values">Select</button>
               
       </div>
</div>
<div class="row">
  <label>Original Purchase Order</label>
  <div class="table-responsive">          
   <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
     <thead>
       <tr>
         <th>SL No</th>
         <th>Product Title</th>
         <th>Description</th>
         <th>Model</th>
         <th>Brand</th>
         <th>Product Code</th>
         <th>Part No</th>
         <th>UOM</th>
         <th>Quantity</th>
         <th>Unit Price</th>
         <th>Total Basic Price</th>
         <th>GST %</th>
         <th>Total Price</th>
       </tr>
     </thead>
     <tbody>   
         {% for item in cpo_lineitem %}
           <tr>
               <td>{{forloop.counter}}</td>
               <td>{{item.product_title}}</td>
               <td>{{item.description}}</td>
               <td>{{item.model}}</td>
               <td>{{item.brand}}</td>
               <td>{{item.product_code}}</td>
               <td>{{item.part_number}}</td>
               <td>{{item.uom}}</td>
               <td>{{item.quantity}}</td>
               <td>{{item.unit_price}}</td>
               <td>{{item.total_basic_price}}</td>
               <td>{{item.gst}}</td>
               <td>{{item.total_price}}</td>
           </tr>
         {% empty %}
           <p>No End User Found</p>
         {% endfor %}
     </tbody>
   </table>
   <hr>   
</div>
</div>
   <script type="text/javascript">
       $(document).ready( function () {
           $('#pending_items').DataTable({
            "bPaginate": false
           });
       });

       function redirect(){
           window.location.href = "/po_from_customer/create/{{cpo_id}}/quotation_lineitem_selection/";
        }

       function getCheckedCheckboxesFor(checkboxName) {
            var checkboxes = document.querySelectorAll('input[name="' + checkboxName + '"]:checked'), values = [];
            Array.prototype.forEach.call(checkboxes, function(el) {
              values = values + ',' + el.value;
          });
          if(values.length==0){
            alert('Minimum one item To Select');
          }
          else{
            document.getElementById("preceed").disabled = true;
              data = {
                'item_list' : values,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
                $.ajax({
                  type: "POST",
                  url: "",
                  data: data,
                  success: function(data) {
                    console.log(data.invoice_no);
                    window.location.href ="/invoice/new_creation/" + data.invoice_no + "/selected_items/";
                  },
                  failure: function(){
                    window.alert('Some Error Occurred, Please Try Again');
                    document.getElementById("preceed").disabled = false;
                  }
              }
            );
          }
        }
    </script>      

{% endblock content %}