{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="">

        {% if message %}
        <div class="alert alert-{{message_type}}">
            <strong>{{message}}</strong>
        </div>
        {% endif %}
        <h2>Customer PO Lineitem
          <button class="btn btn-success" data-toggle="modal" data-target="#ViewDetails">View Details &nbsp;<span class="glyphicon glyphicon-plus"></span></button>
          <a class="btn btn-success pull-right" href="check_quotation_reference/" target="-blank">View Quotation Details </a>
          <br>
          <div class="card border-primary rounded-0">
            <div class="card-header p-0">
                <div class="bg-info text-white text-center py-2">
                  <label style="text-align:center;">Suggested Buyer for this PO : {{suggested_buyer}}</label>
                </div>
            </div>
          </div>
          
        </h2> 
        



    <!--New Product Modal -->
    <div class="modal fade" id="ViewDetails" role="dialog">
      <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Customer PO Details</span></h4>
       </div>
       <div class="modal-body">
         <form type="submit" id="customer-form"  enctype="multipart/form-data" method="POST" action="generate/">
           {% csrf_token %}
           <div class="form-group">

            {% ifnotequal cpo.document1 "" %}
              <label>Supporting Document <a href="/api/media/{{cpo.document1}}" target="-blank">Click Here</a></label><br><hr>
            {% endifnotequal %}

            {% ifnotequal cpo.document2 "" %}
              <label>Supporting Document <a href="/api/media/{{cpo.document2}}" target="-blank">Click Here</a></label><br><hr>
            {% endifnotequal %}

            <label>Customer</label> : {{cpo.customer.name}}<br>
            <label>Customer Location</label> : {{cpo.customer.location}}<br>
            <label>Requester</label> : {{cpo.customer_contact_person.name}}<br>
            <hr>
            <label>PO No</label> : {{cpo.customer_po_no}}<br>
            <label>PO Date</label> : {{cpo.customer_po_date}}<br>
            <label>Delivery Date</label> : {{cpo.delivery_date}}<br>
            <hr>
            <label>Billing Address</label> : {{cpo.billing_address}}<br>
            <label>Shipping Address</label> : {{cpo.shipping_address}}<br>
            <hr>
            <label>Inco Terms</label> : {{cpo.inco_terms}}<br>
            <label>Payment Terms</label> : {{cpo.payment_terms}} &nbsp;Days<br>
            <hr>
            <label>PO Type</label> : {{cpo.po_type}}<br>  
           </div>
       </div>
       <div class="modal-footer">
           <input type="button" class="btn btn-information" data-dismiss="modal" value="Cancel">
         </form>
       </div>
     </div>
    </div>
    </div>
    <!--End of New Product Model-->
       
        
       <div class="table-responsive">          
               <table id="product" class="table table-hover table-bordered table-sm" width="100%">
                 <thead>
                   <tr>
                     <th>Sl No</th>
                     <th>Product Title</th>
                     <th>Description</th>
                     <th>Model</th>
                     <th>Brand</th>
                     <th>Product Code</th>
                     <th>Part no</th>
                     <th>Pack Size</th>
                     <th>HSN Code</th>
                     <th>UOM</th>
                     <th>Quantity</th>
                     <th>Unit Price</th>
                     <th>Total Basic Value</th>
                     <th>GST (%)</th>
                     <th>Including GST Value</th>
                   </tr>
                 </thead>
                 <tbody>
                        
                     {% for item in cpo_lineitem %}
                       <tr>
                           <td>{{forloop.counter}}</td>
                           <td>{{item.product_title}}</td>
                           <td>{{item.description}}</td>
                           <td>{{item.model}}</td>
                           <td>{{item.brand}}</td>
                           <td>{{item.product_code}}</td>
                           <td>{{item.part_no}}</td>      
                           <td>{{item.pack_size}}</td>
                           <td>{{item.hsn_code}}</td>
                           <td>{{item.uom}}</td>
                           <td>{{item.quantity}}</td>
                           <td>{{item.unit_price}}</td>
                           <td>{{item.total_basic_price}}</td>
                           <td>{{item.gst}}</td>
                           <td>{{item.total_price}}</td>
                       </tr>
                     {% empty %}
                       <p>No Lineitem Found</p>
                     {% endfor %}
                 </tbody>
               </table>
       </div><br>

       <div class="row">
          <div class="container">
              <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#reject">Reject &nbsp;<span class="glyphicon glyphicon-remove"></span></button>
              <div class="modal fade" id="reject" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <form method="POST" action="/po_from_customer/cpo_approval/{{cpo.id}}/reject/">   
                      {% csrf_token %}
                          <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Mention the reason of Rejection</span></h4>
                                  <div class="modal-body">
                                      
                                          <div class="form-group">
                                              <textarea type="text" class="form-control" id="rejection" name="rejection" required></textarea>
                                          </div>
                                  </div>
                                  <div class="modal-footer">
                                      <input type="submit" class="btn btn-success" value="Submit">
                                  </div>
                                </div>                    
                          </div>
                    </form>
                </div>
              </div>
              &nbsp;
              <button class="btn btn-success pull-right" data-toggle="modal" data-target="#approve">Approve &nbsp;<span class="glyphicon glyphicon-ok"></span></button>
              <div class="modal fade" id="approve" role="dialog">
                      <div class="modal-dialog">
                      
                        <!-- Modal content-->
                        <form method="POST" action="/po_from_customer/cpo_approval/{{cpo.id}}/approve/">   
                          {% csrf_token %}
                              <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Please Mention these details</span></h4>
                                      <div class="modal-body">
                                          
                                              <div class="form-group">
                                                  <label class="form-input" for="assign1">Assign to <a style="color: red">*</a></label>
                                                  <select class="form-control" id="assign1" name="assign1" required>
                                                      <option></option>
                                                      {% for user in users %}
                                                      <option>{{user.username}}</option>
                                                      {% endfor %}
                                                  </select>                                                  
                                              </div>
                                      </div>
                                      <div class="modal-footer">
                                          <input type="submit" class="btn btn-success" value="Submit">
                                      </div>
                                    </div>                    
                              </div>
                        </form>
                    </div>
              </div>
              <button class="btn btn-info pull-left" data-toggle="modal" data-target="#direct_process">Mark as Direct Vendor Order Processing &nbsp;<span class="glyphicon glyphicon-flag"></span></button>
              <div class="modal fade" id="direct_process" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <form method="POST" action="/po_from_customer/cpo_approval/{{cpo.id}}/mark_as_direct_vendor_order_processing/">   
                      {% csrf_token %}
                          <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Are You Sure Want to mark this as direct Material Process ?</span></h4>
                                  <div class="modal-body">
                                    <label class="form-input" for="assign1">Assign to <a style="color: red">*</a></label>
                                    <select class="form-control" id="assign1" name="assign1" required>
                                        <option></option>
                                        {% for user in users %}
                                        <option>{{user.username}}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                                  <div class="modal-footer">
                                      <input type="submit" class="btn btn-success" value="Confirm">
                                  </div>
                                </div>                    
                          </div>
                    </form>
                </div>
              </div>
          </div><br>
       </div>
   </div>   

{% endblock content %}