{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sourcing Home</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Aeprocurex</a>
    </div>
    <ul class="nav navbar-nav">
    <li class="{{expence}}" role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Expence <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/expences/new_expence/apply/">New Expense</a></li>
              <li><a href="/expences/apply_list/">Applied Expence List</a></li>
              <li>&nbsp;</li>
              <li><a href="/expences/1st_stage/approved_list/">(L1) Approved Expense List</a></li>
              <li><a href="/expences/1st_stage/rejected_list/">(L1) Rejected Expense List</a></li>
              <li>&nbsp;</li>
              <li><a href="/expences/2nd_stage/approved_list/">(L2) Approved Expense List</a></li>
              <li><a href="/expences/2nd_stage/rejected_list/">(L2) Rejected Expense List</a></li>
              <hr>
              <li><a href="/expences/pending_payment_list/individual_payment_status/">Payment Status</a></li>
              
            </ul>
      </li>
      <li class="{{supplier}}"><a href="/supplier/">Supplier</a></li>
      <li class="{{rfp}}" role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              RFP <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/rfp/create/">Generate New</a></li>
              <li><a href="/rfp/in_progress/list/">Creation in Progress</a></li>
              <li><a href="/rfp/rejected/list/">Rectify RFP</a></li>
            </ul>
      </li>
      <li class="{{sourcing}}" role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Sourcing <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/sourcing/pending_list/">Pending</a></li>
            <hr>
            <li><a href="/sourcing/history/item_wise/">Item Wise History</a></li>
        </ul>
      </li>
      <li class="{{key_accounts}}" role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Key Accounts <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/key_accounts/enquiry_list/">Enquiries</a></li>
        </ul>
      </li>
      <li class="{{po}}" role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Vendor PO <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/api/po_to_vendor/approved_vendor_po/ready_list/">Approved Vendor PO List</a></li>
        </ul>
      </li>
    </ul>
    <button type="button" class="btn btn-danger navbar-btn navbar-right" data-toggle="modal" data-target="#LogoutModal">{{login_user_name}}  <span class="glyphicon glyphicon-log-in"></span></button>
  </div>
</nav>

 <!-- Modal -->
 <div class="modal fade" id="LogoutModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Warning  <span class="glyphicon glyphicon-fire"></span></h4>
            </div>
            <div class="modal-body">
              <p>Do you really want to logout ?</p>
            </div>
            <div class="modal-footer">
              <form method="POST" action="/employee/logout/">
                {% csrf_token %}
                <input type="button" class="btn btn-success" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Confirm">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
  {% block content %}
  {% endblock content %}</div>
<footer class="footer">
        <div class="container">
          <span class="text-muted">&copy; Aeprocurex Sourcing Private Limited</span>
        </div>
      </footer>
</body>
<style>
    html *
    {
       font-size: 12px !important;
    }
</style>
</html>
