{% load static %}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/JiSlider.css' %}">
    <link rel="stylesheet" href="{% static 'css/flipclock.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
			* {
				margin: 0;
			}

			html, body {
				height: 100%;
			}

			#JiSlider {
				width: 100%;
				height: 80%;
			}
      blink {
        animation: blinker 0.6s linear infinite;
        color: #1c87c9;
       }
       @keyframes blinker {  
        50% { opacity: 0; }
       }
       .blink-one {
         animation: blinker-one 1s linear infinite;
       }
       @keyframes blinker-one {  
         0% { opacity: 0; }
       }
       .blink-two {
         animation: blinker-two 1.4s linear infinite;
       }
       @keyframes blinker-two {  
         100% { opacity: 0; }
       }
		</style>
    <title>Aeprocurex</title>
</head>
	<body>
   
    <div id="JiSlider" class="jislider">
        <ul>
          <li>
              <h1 style="text-align: center;"><span style="color: #0000ff;"><strong>AEPROCUREX&nbsp;</strong></span></h1>
              <h1 style="text-align: center;"><span style="color: #0000ff;"><strong>Pending Enquiry Tracker</strong></span></h1>
              <hr>
              {% for item in enquiry_counter %}
                {% ifnotequal item.rfp_assign1__assign_to1__first_name null %}
                  <h2 style="text-align: center;">{{item.rfp_assign1__assign_to1__first_name}}&nbsp;{{item.rfp_assign1__assign_to1__last_name}} :: {{item.count}}</h2>
                {% endifnotequal %}
              {% endfor %}
          </li>

        {% for item in enquiry_counter %}
          {% for rfp in enquiry_list %}
            {% if rfp.rfp_assign1__assign_to1__username == item.rfp_assign1__assign_to1__username %}
              {% if rfp.current_sourcing_status == 'Not Mentioned' %}    
                <li>
                  <h1 style="text-align: center;"><span style="color: #0000ff;"><strong>Sourcing Person :  {{item.rfp_assign1__assign_to1__first_name}}&nbsp;{{item.rfp_assign1__assign_to1__last_name}}&nbsp; :: Total Pending : {{item.count}}</strong></span></h1>
                  <h1 style="text-align: center;" class="blink-one"><span style="color: #ff0000;">FRESH PENDING ENQUIRY</span></h1>
                  <hr>
                  <div class="col-sm-3">
                      <h1 style="text-align: center; color: #0000ff;"><strong><spa>{{rfp.customer__name}}</span></strong></h1>
                      <h1 style="text-align: center; color: #0000ff;"><strong><span style="text-align: center; color: #0000ff;">{{rfp.customer__location}}</span></strong></h1>
                  </div>
                  <div class="col-sm-6">
                      <h1 style="text-align: center; font-size: 50px" class="blink-two"><strong><span style="color: #fc0000;">{{rfp.up_time}}</span></strong></h1>
                      <h1 style="text-align: center; font-size: 50px" class="blink-two"><strong><span style="color: #0000ff;">HOURS</span></strong></h1>
                      <h1 style="text-align: center; font-size: 50px" class="blink-two"><strong><span style="color: #0000ff;">OVER</span></strong></h1>
                  </div>

                  <div class="col-sm-3">
                      <h1 style="text-align: center; color: #0000ff;">Item Details</h1>
                    {% for lineitem in pending_lineitem %}
                      {% if lineitem.rfp_no__rfp_no == rfp.rfp_no %}
                      <h1 style="text-align: center; color: #0000ff;">{{lineitem.product_title}}</h1>
                      {% endif %}
                    {% endfor %}
                  </div>
                  
                  
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% for item in enquiry_counter %}
        {% for rfp in enquiry_list %}
          {% if rfp.rfp_assign1__assign_to1__username == item.rfp_assign1__assign_to1__username %}
            {% if rfp.current_sourcing_status != 'Not Mentioned' %}    
              <li>
                <h1 style="text-align: center;"><span style="color: #0000ff;"><strong>Sourcing Person :  {{item.rfp_assign1__assign_to1__first_name}}&nbsp;{{item.rfp_assign1__assign_to1__last_name}}&nbsp; :: Total Pending : {{item.count}}</strong></span></h1>
                <h1 style="text-align: center;" class="blink-one"><span style="color: #ff0000;">PENDING ENQUIRY WITH HAVING ISSUES</span></h1>
                <hr>
                <div class="col-sm-3">
                    <h1 style="text-align: center; color: #0000ff;"><strong><spa>{{rfp.customer__name}}</span></strong></h1>
                    <h1 style="text-align: center; color: #0000ff;"><strong><span style="text-align: center; color: #0000ff;">{{rfp.customer__location}}</span></strong></h1>
                </div>
                <div class="col-sm-6">
                    <h1 style="text-align: center; font-size: 50px" class="blink-two"><strong><span style="color: #fc0000;">{{rfp.up_time}}</span></strong></h1>
                    <h1 style="text-align: center; font-size: 50px" class="blink-two"><strong><span style="color: #0000ff;">HOURS</span></strong></h1>
                    <h1 style="text-align: center; font-size: 50px" class="blink-two"><strong><span style="color: #0000ff;">OVER</span></strong></h1>
                </div>

                <div class="col-sm-3">
                    <h1 style="text-align: center; color: #0000ff;">Item Details</h1>
                  {% for lineitem in pending_lineitem %}
                    {% if lineitem.rfp_no__rfp_no == rfp.rfp_no %}
                    <h1 style="text-align: center; color: #0000ff;">{{lineitem.product_title}}</h1>
                    {% endif %}
                  {% endfor %}
                </div>
                
                
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
        
        </ul>
    </div>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static 'js/JiSlider.js' %}"></script>
    <script src="{% static 'js/flipclock.min.js' %}"></script>
    
		<script>
			$(window).load(function () {
				$('#JiSlider').JiSlider({color: '#fff', start: 1, reverse: false}).addClass('ff')
			})
		</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  
</script>
<script language="javascript">
    setTimeout(function(){
       window.location.reload(1);
    }, {{total_time}});
</script>
	</body>
</html>