{% extends 'Sourcing/base.html' %}
{% load static %}

{% block content %}
<div class="container">
        <h2>Pending Sourcing List</h2>
            <div class="table-responsive">          
                    <table id="pending_list" class="table table-hover table-bordered table-sm" width="100%">
                      <thead>
                        <tr>
                          <th></th>
                          <th>RFP No</th>
                          <th>Customer</th>
                          <th>Location</th>
                          <th>Creation Date</th>
                          <th>Key Accounts Person</th>
                          <th>Priority</th>
                          <th>Current Sourcing Status</th>
                          <th>Up Time (Hrs)</th>
                        </tr>
                      </thead>
                      <tbody>   
                          {% for rfp in rfp_list %}
                            <tr>
                               <td>
                                   <a href="/sourcing/{{rfp.rfp_no}}/lineitems/" data-toggle="tooltip" data-placement="top" title="Select this contact person"> <span class="glyphicon glyphicon-forward" style="color: blue"></span></a>
                                </td>
                                <td>{{rfp.rfp_no}}</td>
                                <td>{{rfp.customer__name}}</td>
                                <td>{{rfp.customer__location}}</td>
                                <td>{{rfp.rfp_creation_details__creation_date}}</td>
                                <td>{{rfp.rfp_keyaccounts_details__key_accounts_manager__first_name}}</td>
                                <td>{{rfp.priority}}</td>
                                <td>{{rfp.current_sourcing_status}}</td>
                                <td>{{rfp.up_time}}</td>
                            </tr>
                          {% empty %}
                            <p>No Pending RFP Approval Found</p>
                          {% endfor %}
                      </tbody>
                    </table>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready( function () {
                $('#pending_list').DataTable();
            } );
            </script>  
{% endblock content %}