{% extends 'Sourcing/base.html' %}
{% load static %}

{% block content %}
<div>
        <style>
            .content {
                max-width: 500px;
                margin: auto;
                background: white;
                padding: 10px;
            }
            </style>        
            <div class="content">
              <h3>Enter the product details</h3>
              <form type="submit" id="vendor-form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                        <label class="form-input" for="product_title">Product Title <a style="color: red">*</a></label>
                        <input type="text" class="form-control" id="product_title" name="product_title" value="{{lineitem.product_title}}" required>
                        
                        <label class="form-input" for="description">Product Description <a style="color: red">*</a></label>
                        <textarea type="text" class="form-control" id="description" name="description" required>{{lineitem.description}}</textarea>
   
                        <label class="form-input" for="model">Model </label>
                        <input type="text" class="form-control" id="model" name="model" value={{lineitem.model}}>
   
                        <label class="form-input" for="brand">Brand</label>
                        <input type="text" class="form-control" id="brand" name="brand" value={{lineitem.brand}}>

                        <label class="form-input" for="product_code">Product Code (Manufacturer Part No)</label>
                        <input type="text" class="form-control" id="product_code" name="product_code" value={{lineitem.product_code}}>
                        
                        <hr>

                        <label class="form-input" for="pack_size">Pack Size <a style="color: red">*</a></label>
                        <input type="text" class="form-control" id="pack_size" name="pack_size" required>

                        <label class="form-input" for="moq">MOQ</label>
                        <input type="text" class="form-control" id="moq" name="moq">

                        <label class="form-input" for="lead_time">Lead Time <a style="color: red">*</a></label>
                        <input type="text" class="form-control" id="lead_time" name="lead_time" required>

                        <label class="form-input" for="price_validity">Price Validity (in Days)</label>
                        <input type="number" class="form-control" id="price_validity" name="price_validity">

                        <hr>

                        <label class="form-input" for="mrp">MRP (In INR) </label>
                        <input type="number" class="form-control" id="mrp" step="0.01" name="mrp">

                        <label class="form-input" for="price1">Round One Quoted Price ( In INR ) <a style="color: red">*</a></label>
                        <input type="number" class="form-control" id="price1" step="0.01" name="price1" required>

                        <label class="form-input" for="price1">Round Two Price ( In INR ) <a style="color: red">*</a></label>
                        <input type="number" class="form-control" id="price2" step="0.01" name="price2" required>

                        <hr>

                        <label class="form-input" for="freight">Expected Freight charge ( % of basic price)</label>
                        <input type="number" class="form-control" id="freight" step="0.01" name="freight" required>



                </div>
            </div>
            <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Confirm">
              </form>
            </div>
    </div>

{% endblock content %}