{% extends 'Sourcing/base.html' %}
{% load static %}

{% block content %}
    <div class="">
        <h2>Enter the received quotation details for {{supplier_name}}</h2>
        <a href="/sourcing/{{rfp_no}}/lineitems/vendor_selection/" class="btn btn-danger"><span class="glyphicon glyphicon-backward"></span></a>
        
                  {% for item in lineitems %}
                  <div class="table-responsive" style="border-style: solid; border-color: grey;">          
                        <table class="table table-hover table-bordered table-sm" width="100%">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Product Title</th>
                              <th>Description</th>
                              <th>Model</th>
                              <th>Brand</th>
                              <th>Product Code</th>
                              <th>Part no</th>
                              <th>Category</th>
                              <th>HSN Code</th>
                              <th>GST</th>
                              <th>UOM</th>
                              <th>Quantity</th>
                              <th>Target Price</th>
                              <th>Remarks</th>
                              <th>Customer Lead Time</th>
                            </tr>
                          </thead>
                          <tbody>
                                <tr>
                                        <td>
                                            <a href="{{item.lineitem_id}}/add/" data-toggle="tooltip" data-placement="top" title="Add Price From Vendor"> <span class="glyphicon glyphicon-plus" style="color: green"></span></a>
                                        </td>
                                        <td>{{item.product_title}}</td>
                                        <td>{{item.description}}</td>
                                        <td>{{item.model}}</td>
                                        <td>{{item.brand}}</td>
                                        <td>{{item.product_code}}</td>
                                        <td>{{item.part_no}}</td>
                                        <td>{{item.category}}</td>
                                        <td>{{item.hsn_code}}</td>
                                        <td>{{item.gst}}</td>
                                        <td>{{item.uom}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.target_price}}</td>
                                        <td>{{item.remarks}}</td>
                                        <td>{{item.customer_lead_time}}</td>
                                    </tr>
                            </tbody>
                         </table>
                        <div class="table-responsive">
                           <table class="table table-hover table-sm" width="50%">
                                        <thead>
                                          <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Product Title</th>
                                            <th>Description</th>
                                            <th>Model</th>
                                            <th>Brand</th>
                                            <th>Product Code</th>
                                            <th>Pack Size</th>
                                            <th>MOQ</th>
                                            <th>Lead Time</th>
                                            <th>Price Validity</th>
                                            <th>Expected Freight (%)</th>
                                            <th>MRP</th>
                                            <th>Round 1 Price</th>
                                            <th>Round 2 Price</th>
                                          </tr>
                                        </thead>
                                        <tbody>   
                                            {% for price in sourcing_lineitems %}
                                              {% if price.rfp_lineitem == item %}
                                              <tr>
                                                  <td>
                                                          <a href="{{price.id}}/edit/" data-toggle="tooltip" data-placement="top" title="Edit"> <span class="glyphicon glyphicon-pencil" style="color: green"></span></a>
                                                          <a href="{{price.id}}/delete/" data-toggle="tooltip" data-placement="top" title="Delete"> <span class="glyphicon glyphicon-trash" style="color: red"></span></a>
                                                  </td>
                                                  <td>
                                                    <a href="{{price.id}}/round2/" data-toggle="tooltip" data-placement="top" title="Add Round 2 Negotiated price"> <span class="glyphicon glyphicon-gift" style="color:blue"></span></a>
                                                  </td>
                                                  <td>{{price.product_title}}</td>
                                                  <td>{{price.description}}</td>
                                                  <td>{{price.model}}</td>
                                                  <td>{{price.brand}}</td>
                                                  <td>{{price.product_code}}</td>
                                                  <td>{{price.pack_size}}</td>
                                                  <td>{{price.moq}}</td>
                                                  <td>{{price.lead_time}}</td>
                                                  <td>{{price.price_validity}}</td>
                                                  <td>{{price.expected_freight}}</td>
                                                  <td>{{price.mrp}}</td>
                                                  <td>{{price.price1}}</td>
                                                  <td>{{price.price2}}</td>
                                              </tr>
                                              {% endif %}
                                            {% empty %}
                                              <p>No Price Found for this lineitem</p>
                                            {% endfor %}
                                        </tbody>
                           </table>          
                        </div>
                    </div> <br>    
                  {% empty %}
                    <p>No Lineitems found for this RFP</p>
                  {% endfor %}  
    </div>
    <script type="text/javascript">
    </script>  
{% endblock content %}