{% extends 'Sourcing/base.html' %}
{% load static %}

{% block content %}
<div class="container">
<div class="row justify-content-center">
    
    
        <!--Form with header-->

            <div class="card border-primary rounded-0">
                <div class="card-header p-0">
                    <div class="bg-info text-white text-center py-2">
                        <h3>Click The Following Link To Download the Sourcing Template File</h3>
                    </div>
                </div>
            <div class="card-body p-3">
                <a href="/api/media/xl_template/{{sourcing_id}}.xlsx" download="/api/media/xl_template/{{sourcing_id}}.xlsx">Click Here</a>
            </div><br>  
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">   

                        <br>
                        <label class="form-input" for="remarks">Browse Your Sourcing File</label>
                        <input type="file" id="sourcing_file" name="sourcing_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>                      
                </div>
                <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Upload">
                </div>  
              </form>      
</div>
</div>
{% endblock %}