{% extends 'Accounts/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>Received Invoice List</h2>
            <div class="table-responsive">          
                    <table id="dcustomer" class="table table-hover table-bordered table-sm" width="100%">
                      <thead>
                        <tr>
                          <th></th>
                          <th>GRN No</th>
                          <th>Vendor Name</th>
                          <th>PO Number</th>
                          <th>PO Date</th>
                          <th>Supplier Invoice No</th>
                          <th>Invoice Date</th>
                          <th>Basic Value</th>
                          <th>Total Value</th>
                          <th>Currency</th>
                        </tr>
                      </thead>
                      <tbody>   
                          {% for item in ir_list %}
                            <tr>
                               <td>
                                   <a href="/grnir/invoice_received/{{item.id}}/received_details/" data-toggle="tooltip" data-placement="top" title="View Details"> <span class="glyphicon glyphicon-forward" style="color: blue"></span></a>
                                   <a href="/grnir/invoice_received/{{item.id}}/received_details_edit/" data-toggle="tooltip" data-placement="top" title="Edit"> <span class="glyphicon glyphicon-edit" style="color: orange"></span></a>
                                </td>
                                <td>{{item.grn__grn_no}}</td>
                                <td>{{item.grn__vendor__name}}</td>
                                <td>{{item.grn__vpo__po_number}}</td>
                                <td>{{item.grn__vpo__po_date}}</td>
                                <td>{{item.invoice_no}}</td>
                                <td>{{item.invoice_date}}</td>
                                <td>{{item.total_basic_price}}</td>
                                <td>{{item.total_price}}</td>
                                <td>{{item.received_currency}}</td>
                            </tr>
                          {% empty %}
                            <p>No CPO Found</p>
                          {% endfor %}
                      </tbody>
                    </table>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready( function () {
                $('#dcustomer').DataTable();
            } );
            </script>     
{% endblock content %}