{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="container">
        <div class="panel panel-primary">
                <div class="panel-heading">
                    Success
                </div>
                <div class="panel-body">
                        <h2><span class="glyphicon glyphicon-ok" style="border-radius:50%; border: solid green;"></span>   Customer PO has been created Successfully</h2>
                </div>
        </div>
</div>
{% endblock content %}